bin/Debug/net7.0/SistemaEstacionamento.deps.json
bin/Debug/net7.0/SistemaEstacionamento.dll
bin/Debug/net7.0/SistemaEstacionamento.exe
bin/Debug/net7.0/SistemaEstacionamento.pdb
bin/Debug/net7.0/SistemaEstacionamento.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/SistemaEstacionamento.csproj.nuget.dgspec.json
obj/SistemaEstacionamento.csproj.nuget.g.props
obj/SistemaEstacionamento.csproj.nuget.g.targets
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/SistemaEstacionamento.AssemblyInfo.cs
obj/Debug/net7.0/SistemaEstacionamento.AssemblyInfoInputs.cache
obj/Debug/net7.0/SistemaEstacionamento.assets.cache
obj/Debug/net7.0/SistemaEstacionamento.csproj.AssemblyReference.cache
obj/Debug/net7.0/SistemaEstacionamento.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/SistemaEstacionamento.csproj.FileListAbsolute.txt
obj/Debug/net7.0/SistemaEstacionamento.dll
obj/Debug/net7.0/SistemaEstacionamento.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/SistemaEstacionamento.genruntimeconfig.cache
obj/Debug/net7.0/SistemaEstacionamento.GlobalUsings.g.cs
obj/Debug/net7.0/SistemaEstacionamento.pdb
obj/Debug/net7.0/ref/SistemaEstacionamento.dll
obj/Debug/net7.0/refint/SistemaEstacionamento.dll
